

<div class="mobile-container">

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <div class="profile-hero between">
      <div class="img-profile ml-3">
        <%= render 'components/avatar_square', picture:current_user.photo.key %>
      </div>

      <%= f.input :change_photo ,
      as: :file,
      input_html: { multiple: false } %>
    </div>


    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
    <% end %>


    <div class="inputs-container">
      <%= f.input :first_name,
        required: false,
        input_html: { autocomplete: "first_name", class:'update-input'} %>
      <%= f.input :last_name,
        required: false,
        input_html: { autocomplete: "last_name", class:'update-input'} %>
      <%= f.input :birthday,
        required: false,
        as: :string,
        autofocus: true,
        input_html: {class: "datepicker update-input"} %>
      <%= f.input :gender,
        required: true,
        collection: ['female', 'male', 'other'],
        autofocus: true,
        input_html: { autocomplete: "gender", class:'update-input' }%>

      <%= f.input :current_password,
        required: true,
        input_html: { autocomplete: "current-password", class:'update-input' } %>

      <%= f.input :new_password,
        required: false,
        input_html: { autocomplete: "new-password", class:'update-input' } %>

      <%= f.input :new_password_confirmation,
        required: false,
        input_html: { autocomplete: "new-password" , class:'update-input' } %>


    </div>


  </div>



  <div class="button-div">
    <%= f.button :submit, "Update Profile", class:'garma-btn-primary center mb-3' %>
  </div>

  <div class="button-div">
    <p class='center mb-3'>Unhappy? <%= link_to "Delete account", registration_path(resource_name), class:'bold' , data: { confirm: "Are you sure?" }, method: :delete%></p>
  </div>
  <div class="button-div">
    <%= link_to "Back", :back, class:'garma-btn-primary center mb-3' %>
  </div>



  <% end %>





</div>
