<div class="container-login">
<h1>Sign up</h1>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>


    <div class="form-inputs">
      <div class="app">
      <div class="sp_page">
        <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name"} %>
        <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name"} %>
        <div class="container-button">
          <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button><%= render "devise/shared/links"%>
        </div>
      </div>

      <div class="sp_page">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
        <button type="button" class="garma-btn-primary" onclick="sp.prev()">Back</button>
        <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
      </div>

      <div class="class sp_page">
        <%= f.input :birthday,
                    required: true,
                    as: :string,
                    autofocus: true,
                    input_html: {class: "datepicker"} %>
        <button type="button" class="garma-btn-primary" onclick="sp.prev()">Back</button>
        <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
      </div>
      <div class="class sp_page">
        <%= f.input :gender,
                    required: true,
                    collection: ['female', 'male', 'other'],
                    autofocus: true,
                    input_html: { autocomplete: "gender" }%>
        <button type="button" class="garma-btn-primary" onclick="sp.prev()">Back</button>
        <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
      </div>
      <div class="sp_page">
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <button type="button" class="garma-btn-primary" onclick="sp.prev()">Back</button>
        <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
      </div>
      <div class="class sp_page">
        <%= f.input :photo,
                    as: :file,
                    input_html: { multiple: false } %>
      <div><button type="submit" class="garma-btn-primary">Send</button></div>
      </div>

      <div class="class sp_page">
       <h1>You are now registered!</h1>
      </div>
    </div>
  </div>

  <div class="form-actions">
  </div>
<% end %>


</div>
 <!-- 1. devide form input ( result will be a long page), 2. collection of different divs ; some bottons are only displayed in certain conditions; thinking of linking the js files correctly - see with guys, do a container (slider) with multiple divs, pass the :active; input needs to pass through, event listener on the buttons different divs and arrows, modify the f:input with what you have -->


