<div class="container-login">
  <h1>Sign up</h1>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="app">
        <div class="sp_page">
          <div class="login-icons">
            <!-- icon you can see -->
            <%= render 'icons/picture_icon', width: 70, height: 150%>
          </div>
          <%= f.input :first_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "first_name"} %>
          <%= f.input :last_name,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "last_name"} %>
          <div class="container-button">
            <%= render "devise/shared/links"%>
            <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
          </div>
        </div>

        <div class="sp_page">
          <div class="login-icons">
            <!-- icon you NOT see -->
            <%= render 'icons/mail_icon', width: 70, height: 150%>
          </div>
          <%= f.input :email,
                    required: true,
                    autofocus: true,
                    input_html: { autocomplete: "email" }%>
          <div class="container-button">
            <button type="button" class="garma-btn-secondary" onclick="sp.prev()">Back</button>
            <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
          </div>
      </div>

      <div class="class sp_page">
        <div class="login-icons">
          <%= render 'icons/birthday_icon', width: 70, height: 150%>
        </div>
        <%= f.input :birthday,
                    required: true,
                    as: :string,
                    autofocus: true,
                    input_html: {class: "datepicker"} %>
        <div class="container-button">
          <button type="button" class="garma-btn-secondary" onclick="sp.prev()">Back</button>
          <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
        </div>
      </div>

      <div class="class sp_page">
        <div class="login-icons">
          <%= render 'icons/gender_icon', width: 70, height: 150%>
        </div>
        <%= f.input :gender,
                    required: true,
                    collection: ['female', 'male', 'other'],
                    autofocus: true,
                    input_html: { autocomplete: "gender" }%>
        <div class="container-button">
          <button type="button" class="garma-btn-secondary" onclick="sp.prev()">Back</button>
          <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
        </div>
      </div>

      <div class="sp_page">
        <div class="login-icons">
          <%= render 'icons/password_icon', width: 70, height: 150%>
        </div>
        <%= f.input :password,
                    required: true,
                    hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                    input_html: { autocomplete: "new-password" } %>
        <%= f.input :password_confirmation,
                    required: true,
                    input_html: { autocomplete: "new-password" } %>
        <div class="container-button">
          <button type="button" class="garma-btn-secondary" onclick="sp.prev()">Back</button>
          <button type="button" class="garma-btn-primary" onclick="sp.next()">Next</button>
        </div>
      </div>

      <div class="class sp_page">
        <div class="login-icons">
          <%= render 'icons/user_icon_svg'%>
          <%= f.input :photo,
                    :label => 'Upload your photo!',
                    label_html: { class:'garma-btn-secondary margin-left-5' },
                    as: :file,
                    input_html: { multiple: false } %>
        </div>
        <div class="container-button">
          <button type="button" class="garma-btn-secondary" onclick="sp.prev()">Back</button>
          <button type="submit" class="garma-btn-primary">Send</button>
        </div>
      </div>

      <div class="class sp_page">
        <div class="login-icons">
         <%= render 'icons/success_icon'%>
          <h1>You are now registered!</h1>
          <button type="button" class="garma-btn-primary" onclick="window.location.href='./brands';">Go to Garma</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-actions">
  </div>
<% end %>


</div>
 <!-- 1. devide form input ( result will be a long page), 2. collection of different divs ; some bottons are only displayed in certain conditions; thinking of linking the js files correctly - see with guys, do a container (slider) with multiple divs, pass the :active; input needs to pass through, event listener on the buttons different divs and arrows, modify the f:input with what you have -->


