<div id="menu-footer" class="menu-footer">
  <!-- SEARCH LINK -->
  <%= link_to brands_path do %>
    <div class="icon-wrapper-menu">
      <%= render 'icons/search_icon'%>
    </div>
  <% end %>
  <!-- GUARDROBE LINK -->
  <% if current_user %>
    <%= link_to user_products_path(current_user) do %>
      <div class="icon-wrapper-menu">
        <%= render 'icons/garderobe_icon_inset'%>
      </div>
    <% end %>
  <% else %>
    <%= link_to  new_user_session_path do %>
      <div class="icon-wrapper-menu">
        <%= render 'icons/garderobe_icon' %>
      </div>
    <% end %>
  <% end %>
  <!-- USER LINK -->
  <%= link_to profile_path do %>
    <div class="icon-wrapper-menu">
      <%= render 'icons/user_icon'%>
    </div>
  <% end %>
  <!-- MENU LINK -->
  <%= link_to profile_path do %>
    <div class="icon-wrapper-menu">
      <%= render 'icons/hamburger_icon'%>
    </div>
  <% end %>
</div>
