<div id="menu-footer" class="menu-footer">

  <%= link_to brands_path do %>
    <div class="menu-button">
      <div class="menu-inner-shadow">
        <%= render 'icons/search_icon' , width: 20, height: 20 %>
      </div>
    </div>
  <% end %>
  <%= link_to user_products_path(current_user) do %>
  <div class="menu-button">
    <div class="menu-inner-shadow">
      <%= render 'icons/garderobe_icon' , width: 20, height: 20 %>
    </div>
  </div>
  <% end %>

  <div class="menu-button">
    <div class="menu-inner-shadow">
      <%= render 'icons/user_icon' , width: 20, height: 20 %>
    </div>
  </div>

  <div class="menu-button">
    <div class="menu-inner-shadow">
      <%= render 'icons/hamburger_icon', width: 20, height: 20 %>
    </div>
  </div>
</div>
