<div class="menu-footer">
  <%= link_to brands_path do %>
    <%= render 'icons/search_icon' %>
  <% end %>
  <%= render 'icons/divider' %>
  <%= render 'icons/garderobe_icon' %>
  <%= render 'icons/divider' %>
  <%= render 'icons/user_icon' %>
  <%= render 'icons/divider' %>
  <%= render 'icons/hamburger_icon' %>
</div>
