<div id="menu-footer" class="menu-footer">
  <!-- SEARCH LINK -->
  <%= link_to brands_path do %>
    <div class="icon-wrapper-menu">
      <%= render 'icons/search_icon'%>
    </div>
  <% end %>
  <!-- GUARDROBE LINK -->
    <%= link_to user_products_path(current_user.nil? ? 0 : current_user) do %>
      <div class="icon-wrapper-menu">
        <%= render 'icons/garderobe_icon_inset'%>
      </div>
    <% end %>

  <!-- USER LINK -->
  <%= link_to profile_path do %>
    <div class="icon-wrapper-menu">
      <%= render 'icons/user_icon_svg_menu'%>
    </div>
  <% end %>
  <!-- ABOUT LINK -->
  <%= link_to about_path do %>
    <div class="icon-wrapper-menu">
      <%= render 'icons/garma_button_icon'%>
    </div>
  <% end %>
</div>
