<% if current_user %>
  <div id="save-container" class="save-container">
    <div id="heart" data-saved="<%= saved %>" data-id="<%= @product.id %>" data-garderobe-id="<%= @product.garderobe_id(current_user) %>"></div>
    <div class="off">
      <div id="heart-on" class="heart">
        <%= render 'icons/heart_icon' %>
        <p>Saved!</p>
      </div>
      <div id="heart-off" class="heart">
        <%= render 'icons/heart_icon_disabled'%>
        <p>Save product</p>
      </div>
    </div>
  </div>
<% end %>
