<div class="mobile-container">


<div class="user-info-div">

<% if user_signed_in? %>
 <div class="profile-hero">
    <%= render 'components/avatar_square', picture:current_user.photo.key %>
    <div class="fullname">
      <h1>Hi</h1>
      <h2><%= current_user.first_name %> <%= current_user.last_name %></h2>
    </div>
</div>



<div class="profile-info">
  <ul class="user-list">

    <li class="list-item">
      <div class="icon-div">
        <%= render 'icons/garderobe_icon'%>
      </div>
        <h5>Saved items: <%= current_user.garderobe_items.count %> </h5>
    </li>


    <li class="list-item">
      <div class="icon-div">
        <%= render 'icons/mail_icon'%>
      </div>
        <h5>Email</h5>
    </li>

    <li class="list-item">
      <div class="icon-div">
        <%= render 'icons/birthday_icon'%>
      </div>
        <h5>Birthday</h5>
    </li>


    <li class="list-item">
      <div class="icon-div">
        <%= render 'icons/gender_icon'%>
      </div>
      <h5>Gender</h5>
    </li>

  </ul>
</div>



<% end %>

</div>



<div class="buttons-container">

  <%= render 'components/profile_button', text:'ciao' %>
  <%= render 'components/profile_button', text:'bye' %>
  <%= render 'components/profile_button', text:'cjjjjj' %>
  <%= render 'components/profile_button', text:'ciao' %>

</div>






</div>
