<div class="mobile-container">

  <!--------------------------product hero section------------------------------------>
  <div class="product-title">
   <h3><%= @product.brand.name %></h3>
   <h2><%= @product.name %></h2>
 </div>

 <div class="rating-leafs-container">
  <%= render 'shared/leaf', rating: @product.total_rating %>
</div>

<div class="photo-container">
  <img class="product-img" src='<%= @product.photo_url %>' alt="<%= @product.name %> picture">
</div>
<p class="article-num">Art No:<%= @product.article_number  %> </p>


<!-- ACCORDION MENU START -->




<div class="product-card-wrapper">
  <!--------------------------brand section------------------------------------>
<%= render '/components/product-card' , title: 'Brand', field_icon:'brand_icon', rating: @product.brand.rating %>
<!-- section to hide -->

<div class="product-content disabled">

  <div class="product-title">
    <h2><%= @product.brand.name %> </h2>
  </div>

  <div class="rating-leafs-container total">
    <%= render 'shared/leaf', rating: @product.brand.rating %>
  </div>

  <div class="rating-article-container">
    <div class="description-article">
      <h3>Planet Impact</h3>
      <article><%= @product.brand.planet_description %> </article>
      <div class="rating-leafs-container complementary-leafs ">
        <%= render 'shared/leaf', rating: @product.brand.planet_rating %>
      </div>
    </div>

    <div class="description-article">
      <h3>People Impact</h3>
      <article><%= @product.brand.people_description %> </article>
      <div class="rating-leafs-container complementary-leafs ">
        <%= render 'shared/leaf', rating: @product.brand.people_rating %>
      </div>
    </div>

    <div class="description-article">
      <h3>Animals Impact</h3>
      <article><%= @product.brand.animals_description %> </article>
      <div class="rating-leafs-container complementary-leafs ">
        <%= render 'shared/leaf', rating: @product.brand.animals_rating %>
      </div>
    </div>
  </div>


  <button class="arrow-open-close">
    <i id="arrow-close"class="fas fa-caret-up fa-3x"></i>
  </button>

</div>

</div>



<!--------------------------Fabric section------------------------------------>
<div class="product-card-wrapper">
<%= render '/components/product-card' , title: 'Fabric', field_icon:'fabric_icon', rating: @product.fabrics_rating %>

<!-- section to hide -->

<div class="product-content disabled">

  <div class="product-title">
   <h2>Fabric</h2>
  </div>

  <div class="rating-leafs-container total">
    <!-- LOGIC IN PRODUCT METHOD -->
    <%= render 'shared/leaf', rating: @product.fabrics_rating %>
  </div>



  <div class="rating-article-container">
    <div class="description-article">
      <ul>
        <% @product.used_materials.each do |material| %>
        <li><h5><%= material.fabric.name %><strong>: <%= material.percentage %> % </strong></h5></li>
        <% end %>
      </ul>
    </div>
  </div>



  <div class="rating-article-container">
    <div class="description-article">
      <% @product.used_materials.each do |material| %>
      <h3><%= material.fabric.name.capitalize %> Impact</h3>
      <article><%= material.fabric.description %> </article>
      <% end %>
    </div>
  </div>

  <button id="arrow-close" class="arrow-open-close">
    <i class="fas fa-caret-up fa-3x"></i>
  </button>

</div>
</div>

<!--------------------------supplier section------------------------------------>
<div class="product-card-wrapper">
<%= render '/components/product-card' , title: 'Supplier', field_icon: 'supplier_icon', rating: @product.suppliers_rating %>
<!-- section to hide -->

<div class="product-content disabled">
  <div class="product-title">
   <h2>Supplier</h2>
  </div>

  <div class="rating-leafs-container total">
    <!-- LOGIC IN PRODUCT METHOD -->
    <%= render 'shared/leaf', rating: 4 %>
  </div>



  <div class="rating-article-container">

    <div class="description-article">
      <% @product.suppliers.each do |supplier| %>
      <h3>Made in <%= supplier.country %></h3>
      <p>From:</p>
      <h4><%= supplier.name %></h4>
      <p>Description:</p>

      <!-- to fill with informations -->

<!--       <div class="empty-square d-flex justify-content-center align-items-center">
        <p>to fill with some supplier description</p>
      </div> -->
      <% end %>
    </div>
  </div>


  <button id="arrow-close" class="arrow-open-close">
    <i class="fas fa-caret-up fa-3x"></i>
  </button>

</div>

<div class="arrow-open-close like-button" style="margin-bottom: 100px;">
  <%= render 'shared/save_garderobe', saved: @saved, product: @product %>
</div>



</div>

<!-- ACCORDION MENU END -->
</div>


